@layer base {
    :root {
        --green: #d9d9d9;
        --whiteText: #fff;

        --sans: "Open Sans", sans-serif;

        /* Font Scale */
        --base-size: 1.2rem;
        --scale: 1.25rem;
        --h1: calc(var(--h2) * var(--scale));
        --h2: calc(var(--h3) * var(--scale));
        --h3: calc(var(--h4) * var(--scale));
        --h4: calc(var(--h5) * var(--scale));
        --h5: calc(var(--h6) * var(--scale));
        --h6: var(--base-size);
        --small: calc(var(--base-size) / var(--scale));
        --radius: 5px;
    }

    html {
        box-sizing: border-box;
    }

    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }

    body {
        font-family: var(--sans);
        line-height: 1.5;
        font-size: var(--base-size);
        padding: 0;
        margin: 0;
        color: var(--whiteText);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 400;
        margin: 0;
    }

    header {
        border-bottom: 2px solid white;
    }

    .container {
        padding: 0;
        margin: 0;
    }

}